In [11]:
import pandas as pd

df_test = pd.read_csv("../src/cleaned_port_data/AR_Argentina.csv")

In [3]:
df_test.head(10)

,Country_code,Location_code,Name,NameWoDiacritics,Status,Latitude,Longitude
0,AR,GEO,Agrelo,Agrelo,RL,32.883333,67.116667
1,AR,ACF,Arrecifes,Arrecifes,RL,33.916667,59.883333
2,AR,ASO,Arroyo Seco,Arroyo Seco,RQ,32.866667,59.566667
3,AR,BHI,Bahía Blanca,Bahia Blanca,AI,37.283333,61.716667
4,AR,BQS,Barranqueras,Barranqueras,AI,-27.485098,-58.930877
5,AR,BVC,Bella Vista,Bella Vista,RQ,27.500000,58.950000
6,AR,BUE,Buenos Aires,Buenos Aires,AI,33.416667,57.333333
7,AR,CSA,Cabo San Antonio,Cabo San Antonio,RQ,35.966667,55.433333
8,AR,CLC,Caleta Córdoba,Caleta Cordoba,AI,44.266667,66.933333
9,AR,CVI,Caleta Olivia,Caleta Olivia,AI,-46.472375,-67.571001

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country_code      111 non-null    object
 1   Location_code     111 non-null    object
 2   Name              111 non-null    object
 3   NameWoDiacritics  111 non-null    object
 4   Status            111 non-null    object
 5   Latitude          110 non-null    float64
 6   Longitude         110 non-null    float64
dtypes: float64(2), object(5)
memory usage: 6.2+ KB

In [12]:
from ipyleaflet import Map, basemaps, Marker, Popup
from ipywidgets import HTML
import numpy as np

valid_lat = df_test["Latitude"].dropna()
valid_long = df_test["Longitude"].dropna()

average_latitude = np.nanmean(valid_lat)
average_longitude = np.nanmean(valid_long)

center = (average_latitude, average_longitude)
zoom = 4

m = Map(basemap=basemaps.Esri.WorldStreetMap, center=center, zoom=zoom, scroll_wheel_zoom=True)

for index, row in df_test.iterrows():
    marker = Marker(location=(row["Latitude"], row["Longitude"]), draggable=False)
    popup_content = "<b>{}</b><br>Latitude: {:.6f}<br>Longitude: {:.6f}".format(row['Name'], row['Latitude'], row['Longitude'])
    html = HTML(value=popup_content)
    popup = Popup(
        location=(row["Latitude"], row["Longitude"]),
        child=html
    )
    marker.popup = popup
    m.add_layer(marker)

m

/home/scglass/Github/LIA/table_scraper/venv/lib/python3.9/site-packages/jupyter_client/session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

Map(center=[-33.787310803921564, -60.82793819607842], controls=(ZoomControl(options=['position', 'zoom_in_text…