In [2]:
import pandas as pd

df_test = pd.read_csv("../src/cleaned_port_data/SE_Sweden.csv")

In [4]:
df_test.head(10)

,Country_code,Location_code,Name,NameWoDiacritics,Status,Latitude,Longitude
0,SE,AGB,Agnesberg,Agnesberg,RL,57.783333,11.983333
1,SE,AHU,Åhus,Ahus,AA,55.916667,14.283333
2,SE,ALA,Ala,Ala,AA,61.216667,17.150000
3,SE,ALF,Alfredshem,Alfredshem,AF,NaN,NaN
4,SE,AGN,Älvängen,Alvangen,RL,57.950000,12.116667
5,SE,ALN,Älvenäs,Alvenas,AA,59.383333,13.183333
6,SE,AMA,Åmål,Amal,AA,59.050000,12.700000
7,SE,AGE,Ånge,Ange,RL,62.516667,15.616667
8,SE,ANK,Ankarsvik,Ankarsvik,AF,62.373596,17.409040
9,SE,ANN,Ånn,Ann,RL,63.316667,12.533333

In [10]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875 entries, 0 to 874
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country_code      875 non-null    object
 1   Location_code     875 non-null    object
 2   Name              875 non-null    object
 3   NameWoDiacritics  875 non-null    object
 4   Status            875 non-null    object
 5   Latitude          869 non-null    float64
 6   Longitude         869 non-null    float64
dtypes: float64(2), object(5)
memory usage: 48.0+ KB

In [9]:
from ipyleaflet import Map, basemaps, Marker, Popup
from ipywidgets import HTML
import numpy as np

valid_lat = df_test["Latitude"].dropna()
valid_long = df_test["Longitude"].dropna()

average_latitude = np.nanmean(valid_lat)
average_longitude = np.nanmean(valid_long)

center = (average_latitude, average_longitude)
zoom = 4

m = Map(basemap=basemaps.Esri.WorldStreetMap, center=center, zoom=zoom, scroll_wheel_zoom=True)

for index, row in df_test.iterrows():
    marker = Marker(location=(row["Latitude"], row["Longitude"]), draggable=False)
    popup_content = "<b>{}</b><br>Latitude: {:.6f}<br>Longitude: {:.6f}".format(row['Name'], row['Latitude'], row['Longitude'])
    html = HTML(value=popup_content)
    popup = Popup(
        location=(row["Latitude"], row["Longitude"]),
        child=html
    )
    marker.popup = popup
    m.add_layer(marker)

m

/home/scglass/Github/LIA/table_scraper/venv/lib/python3.9/site-packages/jupyter_client/session.py:721: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

Map(center=[51.50775264672036, 10.187553737629461], controls=(ZoomControl(options=['position', 'zoom_in_text',…